<li class="@(Item.GetClass())">
    <div class="view">
        <input class="toggle" type="checkbox" bind="@Item.Completed" onchange="@ToggleCompleted" />
        <label ondblclick="@ToggleEditing">@Item.Title</label>
        <button class="destroy" onclick="@Remove"></button>
    </div>
    @if (Item.Editing)
    {
        <input class="edit" bind="@Item.Title" onblur="@ToggleEditing" />
    }
</li>

@functions
{

[Parameter]
TodoItem Item { get; set; }

[Parameter]
Action<TodoItem> RemoveAction { get; set; }

[Parameter]
Action StateChanged { get; set; }

void ToggleEditing()
{
    Item.Editing = !Item.Editing;
}

void Remove()
{
    RemoveAction(Item);
}

void ToggleCompleted()
{
    Item.Completed = !Item.Completed;
    StateChanged();
}

}
